*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;

  background-color: #050607;

  
  color: rgb(255, 255, 255);
}
div.container-posts{
  display: flex;
  margin-top: 48px;
}
.post{
  margin-left: 16px;
}
